<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Serwis Komputerowy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">Serwis Komputerowy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light fw-bold" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light fw-bold" href="/Klient">Klienci</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light fw-bold" href="/Naprawa">Naprawy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light fw-bold" href="/Serwis">Serwisy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light fw-bold" href="/Sprzet">Sprzęt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light fw-bold" href="/Home/Privacy">Polityka prywatności</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container my-5">
        @RenderBody()
    </div>

    <footer class="bg-primary text-white text-center py-3 mt-auto">
        <p class="mb-0">© 2024 Serwis Komputerowy </p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
