@model Klient
<div class="container mt-5">
    <div class="card shadow-lg p-4 mb-4 bg-white rounded">
        <h3 class="card-title text-center text-primary">Dodaj nowego klienta</h3>
        <form asp-action="Create" class="needs-validation" novalidate>
            <div class="form-group">
                <label asp-for="Imie" class="form-label font-weight-bold"></label>
                <input asp-for="Imie" class="form-control border-primary" placeholder="Wprowadź imie" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nazwisko" class="form-label font-weight-bold"></label>
                <input asp-for="Nazwisko" class="form-control border-primary" placeholder="Wprowadź nazwisko" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Telefon" class="form-label font-weight-bold"></label>
                <input asp-for="Telefon" class="form-control border-primary" placeholder="Wprowadź telefon" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary btn-lg px-5">Dodaj</button>
                <a asp-action="Index" class="btn btn-secondary btn-lg px-5">Anuluj</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}